@mixin profile-picture($size, $circle: false) {
    width: $size;
    height: $size;
    border: 5px solid white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .7);

    @if $circle {
        border-radius: 50%;
    }
}

// mixin dark-mode
@mixin color-mode($mode: true) {
    // variable
    $bg-terang: #eaeaea;
    $txt-terang: #333;
    $bg-gelap: #222;
    $txt-gelap: #ddd;

    @if $mode {
        background-color: $bg-terang;
        color: $txt-terang;
    }

    @else {
        background-color: $bg-gelap;
        color: $txt-gelap;
    }
}

@mixin triangle($size, $color, $direction) {
    width: 0;
    height: 0;
    background-color: transparent;
    border-style: solid;
    border-color: transparent;
    border-width: $size;

    @if $direction==atas {
        border-top-color: $color;
    }

    @else if $direction==kanan {
        border-right-color: $color;
    }

    @else if $direction==bawah {
        border-bottom-color: $color;
    }

    @else {
        border-left-color: $color;
    }
}